* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden
}

body {
  width: 100%;
  line-height: 1;

  @include Mont;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.viewport {
  overflow: hidden;
}


img {
  max-width: 100%;
}

a {
  text-decoration: none;

  @include Mont;

  &:active,
  &:link,
  &:visited {
    color: inherit;
  }
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;

  @include m768 {
    padding: 0 24px;
  }
}

