// Font faces
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

@font-face {
  font-family: 'flamebold';
  src: url('@/assets/fonts/flamebold-webfont.woff2') format('woff2'),
       url('@/assets/fonts/flamebold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Variables
$white: #F8F8F8;
$beige: #DFD4C7;
$green: #034126;
$red: #752A4A;
$lilac: #C0B0C0;
$orange: #D96F0D;
$blue: #BCC6D0;
$flame: 'flamebold', sans-serif;

// Mixins
@mixin Mont($weight: 400) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
}

@mixin fit($style: cover) {
  @supports (object-fit: cover) {
    height: 100%;
    object-fit: $style;
    object-position: center;
  }
}

@mixin fullAbs() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin centerAbs() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@mixin transition($prop: all, $time: 0.2s) {
  transition: $prop $time ease-in;
}

// Smooth gradient to transparent
@mixin gradient($color) {
  background-image: radial-gradient(
    rgba($color, 1) 0%,
    rgba($color, 0.738) 22%,
    rgba($color, 0.541) 31%,
    rgba($color, 0.382) 37%,
    rgba($color, 0.278) 43%,
    rgba($color, 0.194) 48%,
    rgba($color, 0.126) 53%,
    rgba($color, 0.075) 57%,
    rgba($color, 0.042) 60%,
    rgba($color, 0.021) 63%,
    rgba($color, 0.008) 65%,
    rgba($color, 0) 70%
  );
}

// Mixins Media
@mixin m360 {
  @media (min-width: 360px) {
    @content;
  }
}

@mixin m450 {
  @media (min-width: 450px) {
    @content;
  }
}

@mixin m576 {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin m600 {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin m768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin m900 {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin m992 {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin m1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin m1400 {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin m1600 {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin m1800 {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin m2200 {
  @media (min-width: 2200px) {
    @content;
  }
}

@mixin media($size) {
  @media (min-width: #{$size}) {
    @content;
  }
}

// Animations
@keyframes marquee {
  0% { transform: translateX(0); }
  100%   { transform: translateX(-100%); }
}

@keyframes squeeze {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
