.wrap-benefits {
  overflow: hidden;
  padding: 120px 0 120px;
  background-color: $blue;

  @include m768 {
    padding: 160px 0 120px;
  }
}

.benefits__intro {
  max-width: 900px;
  color: $green;

  :deep(p) {
    margin: 0;
    letter-spacing: -0.015em;
    font-size: 34px;
    line-height: 1.2;

    @include m768 {
      font-size: 50px;
    }
    @include m992 {
      font-size: 68px;
    }
  }
}

.single-benefit {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: auto;
  height: calc(var(--vh, 1vh) * 100);
  padding: 150px 0 80px;
  align-items: center;

  @include m768 {
    padding: 150px 10% 80px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;

    @include m768 {
      flex-direction: row;
      align-items: center;
    }
  }
}

.single-benefit--relative {
  position: relative;
}

.single-benefit--left {
  .container {
    @include m768 {
      flex-direction: row-reverse;
    }
  }

  .benefit__text {
    @include m768 {
      right: auto;
      left: 24px;
    }
  }
}

.benefit__image {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;

  @include m768 {
    width: 35%;
  }
  @include m992 {
    width: 40%;
  }

  :deep(.shape) {
    z-index: 0;
    width: 140%;
    height: 140%;

    @include centerAbs;
  }

  .img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 85%;
    max-height: 75vh;
    margin: 0 auto;
    border-radius: 17px;
    @include fit;
  }
}

.benefit__text {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  color: $green;

  @include m768 {
    width: 30%;
    text-align: left;
  }
}
