.wrap-content {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  .left,
  .right {
    position: relative;
    flex: 1 1 100%;

    @include m768 {
      flex: 0 0 50%;
    }
  }

  .left {
    padding-bottom: 60%;

    img {
      @include fullAbs();
      @include fit;
    }
  }

  .right {
    padding: 20px 16px 40px;
    color: $lilac;
    background-color: $red;
    display: flex;

    @include m768 {
      padding: 65px;
    }

    .content__content {
      max-width: 450px;
      margin-top: auto;

      .tile {
        margin-top: 0;
      }
    }
  }
}