.wrap-content {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  .left,
  .right {
    position: relative;
    flex: 1 1 100%;

    @include m768 {
      flex: 0 0 50%;
    }
  }

  .left {
    padding-bottom: 140%;

    @include m768 {
      padding-bottom: 55%;
    }

    @include m1800 {
      padding-bottom: 45%;
    }

    img {
      @include fullAbs();
      @include fit;
    }
  }

  .right {
    padding: 20px 16px 50px;
    color: $lilac;
    background-color: $red;
    display: flex;

    @include m768 {
      padding: 65px;
    }

    .content__content {
      max-width: 500px;
      margin-top: auto;
      text-align: center;

      @include m768 {
        text-align: left;
      }

      .tile {
        margin-top: 0;
      }
    }
  }
}