.wrap-feed {
  background-color: $red;
}

.feed__marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 100px 0 0;
  white-space: nowrap;
  color: $beige;
  font-size: 9vw;
  line-height: 1;

  @include m576 {
    font-size: 6vw;
  }
  @include m1800 {
    font-size: 5.5vw;
  }
  @include m2200 {
    font-size: 80px;
  }

  a {
    margin: 0;
    margin-right: 0.2em;
    animation: marquee 15s infinite linear;
  }
}

.feed__cta {
  position: relative;
  z-index: 2;
  top: -100px;
  display: inline-block;

  &:hover {
    svg {
      transform: translateX(5%);
    }
  }

  span {
    position: relative;
    top: 7px;
    display: block;
    max-width: 220px;
    color: $beige;
    font-weight: 500;
    line-height: 1.2;
  }

  svg {
    width: 220px;
    transition: transform 0.3s ease-in;
  }
}

.single-post {
  position: relative;
  display: inline-block;
  overflow: visible;
  width: 320px;
  margin: 0 auto;
  margin-right: 32px;

  &[data-aos='fade-center'] {
    opacity: 1;
  }

  &:hover {
    svg {
      opacity: 1;
    }

    .play {
      opacity: 0;
    }
  }

  >svg {
    z-index: -1;
    display: block;
    width: 160%;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
    opacity: 0;
    @include centerAbs();
  }

  .wrap-post {
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;

    .wrap-video {
      position: relative;
    }

    &.playing {
      .play {
        visibility: hidden;
        opacity: 0;
      }
    }

    .play {
      display: flex;
      visibility: visible;
      opacity: 1;
      background-color: rgba(black, 0.5);
      align-items: center;
      justify-content: center;
      @include fullAbs;

      svg {
        width: 72px;
        fill: $beige;
      }
    }

    :deep(.vjs-big-play-button) {
      display: none;
    }
  }

  .profile-badge {
    border-top: 4px solid #fe2c55;
    background-color: white;

    a {
      display: flex;
      padding: 7px 15px;
      cursor: pointer;
      align-items: center;
    }

    .profile-badge__img {
      overflow: hidden;
      width: 50px;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }

    .profile-badge__name {
      padding: 0 15px;

      h5, p {
        margin: 0;
      }

      h5 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }

    .button {
      padding: 6px 12px;
      cursor: pointer;
      color: white;
      border: 0;
      border-radius: 4px;
      background-color: #fe2c55;
      @include Mont(700);
    }
  }

  iframe {
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.feed-slider {
  position: relative;
  z-index: 1;
  padding: 100px 0 150px;

  .wrap-shapes {
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in;
    transform: translate(-10%, 15%);
    opacity: 0;
  }

  .bg-shape {
    width: 520px;
  }
}

.wrap-arrows {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  right: 0;
  display: block;
  width: 100%;

  @include m1600 {
    right: 11vw;
  }
}

.swiper-feed {
  position: absolute;
  top: 0;
  cursor: pointer;

  svg {
    width: 30px;
    stroke-width: 2;
    stroke: $beige;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.swiper-feed--prev {
  right: 76px;
}

.swiper-feed--next {
  right: 16px;
}

.swiper-feed--disabled {
  cursor: auto;
  opacity: 0.2;
}

