.wrap-products {
  position: relative;
  padding: 100px 0;
  background-color: $beige;
}

.wrap-products__shape {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  transform: translateY(-50%);
  animation: squeeze 4s infinite linear;
  background-image: url('/img/shape-beige.png');
  background-repeat: repeat-x;
  background-size: auto 45px;
}

.wrap-products__headline {
  margin-bottom: 14px;
  color: $green;

  p {
    font-size: 16px;

    @include m768 {
      font-size: 20px;
    }
  }
}

.wrap-slider {
  overflow: hidden;
  margin-bottom: 100px;

  @include m768 {
    margin-bottom: 0;
  }

  .slider__headline {
    max-width: 250px;
    margin: 0;
    color: $green;

    @include m768 {
      max-width: 450px;
    }

    .title {
      margin: 0;
    }
  }

  :deep(.swiper) {
    overflow: visible;
    padding-top: 0;
  }

  :deep(.swiper-wrapper) {
    align-items: flex-start;
  }
}

.single-slide {
  padding-bottom: 10%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include m768 {
    flex-direction: row;
  }

  .mobile {
    display: block;
    margin-bottom: 0;

    @include m768 {
      display: none;
    }
  }

  img {
    display: block;
    margin-bottom: 25px;
    user-select: none;

    @include m768 {
      display: inline-block;
      width: 55%;
      margin-bottom: 0;
    }
  }
}

.slide__content {
  display: block;

  @include m768 {
    display: inline-block;
    width: 40%;
    padding-top: 30%;
  }

  .title {
    display: none;

    @include m768 {
      display: block;
      margin-top: auto;
    }
  }

  .slide__sizes {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    flex-wrap: wrap;

    .size {
      padding: 12px;
      border: 1px solid;
      border-radius: 100%;
      font-size: 14px;

      @include m768 {
        padding: 15px;
        font-size: 16px;
      }
    }
  }
}

.wrap-arrows {
  position: absolute;
  z-index: 2;
  left: 0;
  top: -40px;
  display: block;
  width: 100%;

  @include m768 {
    top: -35px;
  }

  .container {
    position: relative;
  }
}

.swiper-arrow {
  position: absolute;
  top: 0;
  cursor: pointer;

  svg {
    width: 30px;
    stroke-width: 2;
    stroke: $green;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.swiper-arrow--prev {
  right: 60px;
}

.swiper-arrow--next {
  right: 0;
}

.swiper-arrow--disabled {
  cursor: auto;
  opacity: 0.2;
}

