.wrap-values {
  position: relative;
  padding: 80px 0;
  background-color: $green;
}

.wrap-values__shape {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  transform: translateY(-50%);
  animation: squeeze 4s infinite linear;
  background-image: url('/img/shape-green.png');
  background-repeat: repeat-x;
  background-size: auto 45px;
}

.values__headline {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 75px;
  text-align: center;
  color: $blue;
}

.values__intro {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .badge {
    width: 30%;
    max-width: 125px;
    margin-bottom: 70px;
    order: 1;
  }

  .badge--2 {
    max-width: 90px;
  }

  .main-img {
    overflow: hidden;
    width: 100%;
    border-radius: 17px;
    order: 3;

    @include m576 {
      width: 70%;
    }
    @include m768 {
      width: 40%;
      order: 1;
    }

    img {
      display: block;
    }
  }
}

.values__items {
  display: flex;
  padding: 80px 0;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 32px;
}

.single-value {
  max-width: 350px;
  color: $blue;
  flex: 1 0 300px;
  margin-bottom: 80px;

  @include m768 {
    margin-bottom: 0;
  }

  .headline {
    margin-bottom: 35px;
    padding: 10% 15%;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    bordeR: 2px solid $blue;

    @include m768 {
      margin-bottom: 28px;
      font-size: 24px;
    }
  }

  .text {
    text-align: center;

    &,
    :deep(p) {
      font-size: 16px;

      @include m992 {
        font-size: 15px;
      }
    }
  }
}
