.footer {
  padding-top: 80px;
  background-color: $beige;
}

.footer__logo {
  width: 152px;
  margin-bottom: 50px;

  path {
    fill: $green;
  }
}

.footer__content {
  display: flex;
  margin-bottom: 32px;
  flex-wrap: wrap;
  justify-content: space-between;

  @include m768 {
    margin-bottom: 80px;
  }

  .line {
    display: none;
    width: 1px;
    background-color: $green;

    @include m992 {
      display: block;
    }
  }
}

.footer__newsletter {
  flex: 1 1 100%;

  @include m992 {
    flex: 0 0 50%;
  }
  @include m1200 {
    flex: 0 0 55%;
  }
}

.footer__social {
  max-width: 500px;
  flex: 1 1 100%;

  @include m992 {
    flex: 0 0 40%;
  }
  @include m1200 {
    flex: 0 0 35%;
  }

  .highlight {
    display: block;
    margin-bottom: 60px;
    text-transform: uppercase;
    color: $green;
    font-family: $flame;
    font-size: 32px;
    line-height: 1.2;

    @include m768 {
      font-size: 40px;
    }
  }


  .footer__social-menu {
    display: flex;
    color: $green;
    flex-wrap: wrap;
    gap: 25px;

    @include m768 {
      gap: 0;
    }

    span {
      margin-bottom: 16px;
      font-weight: 700;
      flex: 1 1 100%;
      font-size: 20px;
    }

    a {
      font-size: 16px;
      font-weight: 500;
      flex: 0 1 auto;

      @include m768 {
        font-size: 18px;
        flex: 0 1 33%;
      }
    }
  }
}

.footer__copyright {
  position: relative;
  display: flex;
  padding: 45px 0 35px;
  color: $green;
  font-weight: 500;
  flex-wrap: wrap;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    content: '';
    background-image: url('/img/waves.png');
    background-repeat: repeat-x;
    background-size: auto 10px;
  }

  span {
    order: 1;

    @include m768 {
      order: 0;
    }
  }
}

.footer__menu {
  display: flex;
  max-width: 500px;
  margin-bottom: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1 1 100%;
  gap: 25px;

  @include m768 {
    margin-bottom: 0;
    margin-left: auto;
    flex: 0 1 auto;
  }
  @include m992 {
    flex: 0 1 40%;
  }
  @include m1200 {
    gap: 0;
    flex: 0 0 35%;
  }


  a {
    color: $green;
    font-size: 16px;
    font-weight: 500;
    flex: 0 1 auto;

    @include m768 {
      font-size: 18px;
      flex: 0 1 33%;
    }
  }
}