header {
  position: fixed;
  z-index: 5;
  left: 50%;
  width: calc(100% - 32px);
  max-height: 68px;
  padding: 18px 32px;
  transform: translateX(-50%);
  border-radius: 0 0 20px 20px;
  background-color: $green;

  &.active {
    max-height: calc(var(--vh) * 100);
    transition: max-height 0.6s cubic-bezier(.25,.1,.25,1);
  }
}

.header__content {
  display: block;
  visibility: hidden;
  opacity: 0;
  padding-top: 0;

  @include m768 {
    display: flex;
    visibility: visible;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
  }

  &.active {
    visibility: visible;
    padding-top: 40px;
    transition-timing-function: cubic-bezier(.25,.1,.25,1);
    transition-duration: 0.6s;
    transition-property: opacity, visibility;
    opacity: 1;
  }

  .menu-item {
    display: block;
    padding: 22px 0;
    color: $beige;
    font-size: 24px;
    font-weight: 500;

    &:not(:last-child) {
      border-bottom: 2px solid $beige;
    }

    @include m768 {
      padding: 0;
      border: 0 !important;
      font-size: 18px;
    }
  }
}

.header__logo {
  position: relative;
  z-index: 2;
  display: none;
  width: 118px;

  @include m768 {
    display: block;
  }

  svg {
    width: 110px;
    fill: $beige;
  }
}

.header__mobile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .header__logo {
    display: block;
  }

  @include m768 {
    display: none;
  }
}

.header__hamburger {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  width: 35px;
  height: 22px;
  cursor: pointer;

  @include m768 {
    display: none;
  }

  div,
  &:before,
  &:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    transition: transform 0.3s cubic-bezier(.25,.1,.25,1);
    transform-origin: center;
    border-radius: 2px;
    background-color: $white;
  }

  div {
    top: 50%;
    transition: opacity 0.3s cubic-bezier(.25,.1,.25,1);
    transform: translateY(-50%);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &.active {
    div {
      opacity: 0;
    }

    &:before {
      top: 50%;
      transform: translate(0, -50%) rotate(45deg);
    }

    &:after {
      bottom: 50%;
      transform: translate(0, 50%) rotate(-45deg);
    }
  }
}
